.containerUser{
    display: flex;
    align-items: center;
    align-content: center;
    
}
.containerUser img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 5px;
}

.btnPokestop{
    width: 100px;
    padding: 7px 12px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #24a0ed;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    align-self: center;
}

.btnPokestop:hover{
    background-color: #128ad4;
}

